
@{
    ViewBag.Title = "Landing";
}

<div class="banner-wrap">
    <div class=" banner-section">
        <div class="title-div text-left">
            <h1>Main Title Here</h1>
            <h4>Subtitle goes here anyways</h4>
            <button type="button" class="btn btn-warning">Saber Mas</button>
        </div>
        <div class="banner-img-wrap">
            <img id="banner-img" src="~/Content/img/btc-grass.png" />
        </div>
    </div>
</div>

<div class="container">
    <div class="features-div">

    </div>

</div>