
@{
    ViewBag.Title = "Retiro";
}
<!-- VENTANA DE RETIRO -->
<div class="container-fluid pt-100">

    <h1 class="username-title2"><i class="fa fa-btc" aria-hidden="true"></i> Retirar</h1>
    <h4>Tus retiros serán enviados a la siguiente Wallet de BTC:</h4>
    <hr />

</div>
<div class="pay-screen">


    <div class="pay-title text-center">
        <h4 class="">Porfavor indica el monto que deseas retirar (USD):</h4>
    </div>

    <input type="number" class="form-control" id="monto-retiro" />
    <button type="submit" class="btn btn-success custom_btn_green" id="retirar-boton"><i class="fa fa-money" aria-hidden="true"></i> Retirar</button>
    <div class="spacer-20">

    </div>
    <img class="btc-accepted" src="~/Content/img/btc.png" />

    <div class="spacer-40">

    </div>
    

</div>
